
/* Banner Background Configurations */
#bannerTitle {
	color: #FFFFFF;
	font-family: 'Roboto Light';
	font-size: 72px;
	font-weight: bold;
	margin: auto;
	text-align: center;
}
#bannerContact {
	font-family: 'Arsenal';
	color: #FFFFFF;
	margin: auto;
	text-align: center;
	font-size: 20px;
}
#banner {
	margin-left: 0%;
	margin-right: 0%;

	background-image: url("MiscImages/bg.jpg");
	background-size: 100% 100%;
}

body {
	font-family: 'Arsenal';
}

h1 {
	margin: 0px;
}

h2 {
	margin: 0px;
	scroll-margin: 80px;
}

p {
	text-align: left;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2%;
	margin-right: 2%;
	padding: 25px;
}

u {
  text-decoration: underline;
}

hr {
	color: #1E4D2B;
	margin-left: 15%;
	margin-right: 15%;
}

ul{
	margin-left: 2%;
	margin-right: 2%;
}

img{
	margin-left: auto;
	margin-right: auto;
}

/* Force images to a certain size on the homepage */
#projectGrid {
	margin: auto;
	display: block;
	max-width:300px;
	max-height:300px;
	width: auto;
	height: auto;
	transition: transform .2s; /* Animation */
}

.pageTitle {
	color: #FFFFFF;
	background-color: #4B4B4B;
	text-align: center;
	padding: 10px;
}

.sectionTitle {
	color: #FFFFFF;
	background-color: #1E4D2B;
	text-align: center;
	padding: 10px;
}

.dateLabel {
	font-weight: normal;
	font-style: italic;
	background-color: #BFBFBF;
	text-align: center;
	padding: 5px;
}

/* CSS Grid Configurations */
.grid-container {
	display: grid;
	grid-gap: 10px 10px;
	grid-template-columns: auto auto;
	margin-left: 2%;
	margin-right: 2%;
	padding: 10px;
	text-align: left;
}

.gridLblItem {
	padding: 10px;
	background-color: #EDEDED;
	font-size: calc(100% + 1.5vh);
}

.gridBtnItem {
	font-size: calc(100% + 1.5vh);
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid white;
	border-radius: 10px;
}

.gridBtnItem:hover {
	border: 1px solid white;
	border-radius: 10px;
}	

@media screen and (max-width: 1100px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto;
	}
}

@media screen and (min-width: 1101px){
	.grid-container {
		display: grid;
		grid-template-columns: auto auto;
	}
}

/* Used for Javascript function(s) */
#project1 {display: none;}
#expandProj1 {color: #009200; font-weight: bold;}

#project2 {display: none;}
#expandProj2 {color: #009200; font-weight: bold;}

#project3 {display: none;}
#expandProj3 {color: #009200; font-weight: bold;}

#project4 {display: none;}
#expandProj4 {color: #009200; font-weight: bold;}
